@{
    ViewBag.Title = "Thông tin";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            SGU Store
        </h1>
    </div>
</div>
<!-- /.row -->
<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/Content/Images/Info/online-shopping-ecommerce-ss-1920.png" alt="">
    </div>
    <div class="col-md-6">
        <h2>Thông tin website</h2>
        <p>Website SGU Store cung cấp dịch vụ C2C tới khách hàng</p>
    </div>
</div>
<!-- /.row -->
<!-- Team Members -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Thành viên</h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/member.jpg" alt="">
            <div class="caption">
                <h3>
                    Toàn Trương<br>
                    <small>Giám đốc điều hành</small>
                </h3>
                <p>Giám sát project<br /></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/member.jpg" alt="">
            <div class="caption">
                <h3>
                    Linh<br>
                    <small>CEO</small>
                </h3>
                <p>Quản lý công ty</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Content/Images/Info/member.jpg" alt="">
            <div class="caption">
                <h3>
                    Nam<br>
                    <small>CTO</small>
                </h3>
                <p>Quản lý công nghệ</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Our Customers -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Đối tác</h2>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/Info/amazon.jpg" alt="">
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/Info/ebay.png" alt="">
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/Info/lazada.jpg" alt="">
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/Info/tiki.jpg" alt="">
    </div>
</div>
<!-- /.row -->

<hr>