<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuctionService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuctionService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:50279/AuctionService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionService"
                contract="AuctionService.IAuctionService" name="BasicHttpBinding_IAuctionService" />-->
            <endpoint address="http://localhost:50279/AuctionService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuctionService"
                contract="AuctionService.IAuctionService" name="WSHttpBinding_IAuctionService">
                <identity>
                    <userPrincipalName value="ACB-PC\ACB" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>