<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sgudaugia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sgudaugia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sgudaugia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sgudaugia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SGU_C2CStoreContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:linhhuynh.database.windows.net,1433;Initial Catalog=daugia;User ID=linhhuynh@linhhuynh;Password=Maymuongi123!@#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:linhhuynh.database.windows.net,1433;Database=daugia;User ID=linhhuynh@linhhuynh;Password=Maymuongi123!@#;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SGU_C2CStore.Services.DAL.SGUStoreServiceContext, SGU_C2CStore.Services" MigrationConfiguration="SGU_C2CStore.Services.Migrations.Configuration, SGU_C2CStore.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGU_C2CStoreContext-Web.config Connection String">
      <ParameterValue>Server=tcp:linhhuynh.database.windows.net,1433;Database=daugia;User ID=linhhuynh@linhhuynh;Password=Maymuongi123!@#;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>